.boxes{
    margin: 10px;
    flex: 3;
}
#load-search-data{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;  
}
#top-movies{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    text-align: center;
}
.card{
    flex: 5;
    margin: 10px;
}